# see "https://github.com/github/gitignore"

# BPIPE
.bpipe

# PRIVATE FILES
config/email_notifier.groovy

# DATA dir
data/*.groovy
data/*.sh
data/*.config
data/Sample_*/*.groovy
data/Sample_*/*.sh
data/Sample_*/*.config

# GRADLE: Output directories
build/
.gradle/

# Java class files
*.class

# OSX
.DS_Store
.AppleDouble
.LSOverride
Icon

# OSX: Thumbnails
._*

# OSX: Files that might appear on external disk
.Spotlight-V100
.Trashes
