#!/bin/bash

###################################################################
# BPIPE RUNNER FOR MULTIPLE PROJECTS
# bpipe-config version: $VERSION
#
# Check input files before run this script!
# After launch, you can monitor with bpipe log
###################################################################

